.productPage {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    gap: 32px;
    justify-content: center;
    width: 100%;
    padding: 16px;
    margin-bottom: 82px;
}

.productImage {
    width: 100%;
    max-width: 700px;
    height: auto;
    object-fit: contain;
    border-radius: 8px;
}

.productInfo {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 32px;
}



.productInfo h2 {
    font-weight: 700;
    font-size: 40px;
}

.prices {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
}

.discountPrice {
    font-weight: 700;
    font-size: 64px;
    color: var(--font-black);
    margin-right: 32px;
}

.salesNumber {
    padding: 4px 8px;
    background-color: var(--font-color-blue);
    border-radius: 6px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    margin-left: 16px;
    margin-bottom: 36px;
}

.price {
    font-weight: 500;
    font-size: 40px;
    text-decoration: line-through;
    color: var(--grey);
}

.description {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.description h3 {
    font-weight: 600;
    font-size: 20px;
    color: var(--text-black);
}

.description p {
    font-weight: 400;
    font-size: 16px;
    color: #282828;
    line-height: 130%;
}

.readMoreBtn {
    background: none;
    border: none;
    color: var(--text-black);
    font-size: 16px;
    cursor: pointer;
    padding: 0;
    text-decoration: underline;
    align-self: flex-start;

}

.function {
    display: flex;
    gap: 32px;
}

.btnProduct {
    width: 60%;
}

.counter {
    width: 70%;
}

.btnAddedToCart {
    width: 60%;
    background-color: #28a745;
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btnAddedToCart:hover {
    background-color: #218838;
}

.error {
    font-size: 25px;
    font-weight: 700;
    color: red;
}

.notFoundProduct {
    font-size: 25px;
    font-weight: 700;
}

@media (max-width:1253px) {
    .productPage {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 32px;
        justify-content: center;
        width: 100%;
        padding: 16px;
        margin-bottom: 82px;
    }

    .productImage {
        width: 50%;
        max-width: 700px;
        height: auto;
        object-fit: contain;
        border-radius: 8px;
    }
}

@media (max-width:896px) {

    .productInfo h2 {
        font-weight: 600;
        font-size: 30px;
    }

    .discountPrice {
        font-weight: 600;
        font-size: 42px;
    }

    .salesNumber {
        font-weight: 500;
        font-size: 18px;
    }

    .price {
        font-weight: 500;
        font-size: 28px;
    }

    .function {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
}

@media (max-width:837px) {
    .btnProduct {
        width: 70%;

    }
}

@media (max-width:733px) {
    .btnProduct {
        width: 70%;
        padding: 12px 14px;
    }

    .productImage {
        width: 65%;
        max-width: 700px;

    }

    .btnAddedToCart {
        width: 10rem;
        padding: 12px 14px;
        font-size: 16px;
        font-weight: 400;
    }
}

@media (max-width:609px) {
    .prices {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        gap: 4px;
    }
}

@media (max-width:493px) {

    .btnProduct {
        width: 73%;
        font-size: 16px;
        font-weight: 400;
    }

    .productImage {
        width: 15rem;
        max-width: 700px;

    }

    .productInfo h2 {
        font-weight: 500;
        font-size: 22px;
    }

}