.listItems {
    display: flex;
    flex-wrap: wrap;
    column-gap: 32px;
    margin-bottom: 106px;
    justify-content: space-between;
    row-gap: 32px;
}

.item {
    text-decoration: none;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.item:hover {
    transform: translateY(-4px);

}

.item img {
    width: 19.75rem;
    height: 21.9rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    object-fit: cover;
}

.item:hover img {
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);

}

.item p {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: var(--black);
    margin-top: 16px;
    transition: 0.3s;
}

@media (max-width:1439px) {
    .listItems {
        display: flex;
        flex-wrap: wrap;
        column-gap: 32px;
        margin-bottom: 106px;
        justify-content: center;
        row-gap: 32px;
    }
}

@media (max-width:751px) {}