.productsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 32px;
    margin-bottom: 80px;
}

.error {
    font-weight: 700;
    font-size: 25px;
    color: red;
}