.allChosenProducts {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 60%;
}

.chosenProduct {
    display: flex;
    border: 1px solid #DDDDDD;
    gap: 16px;
    border-radius: 12px;
    transition: 0.3s;
}

.chosenProduct:hover {
    transform: scale(1.01);
    box-shadow: 0 4px 12px rgba(0, 0, 139, 0.5);
    z-index: 10;

}

.imageProduct {
    width: 12.5rem;
    height: 13rem;
}

.infoChosenProduct {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
    padding: 32px;
}

.titleProduct {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titleProduct h2 {
    flex: 1;
}

.numberChosenProduct {
    display: flex;
    align-items: center;
    gap: 32px;
}

.prices {
    display: flex;
    gap: 16px;
    align-items: baseline;
}

.discountPrice {
    font-weight: 600;
    font-size: 40px;
    color: var(--text-color-black);
}

.price {
    font-weight: 500;
    font-size: 20px;
    text-decoration: line-through;
    color: var(--grey);
}

.originalPrice {
    font-weight: 600;
    font-size: 40px;
    color: var(--text-color-black);
}

.deleteButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

@media (max-width:1302px) {

    .imageProduct {
        width: 15rem;
        height: auto;
    }

    .titleProduct h2 {
        font-size: 18px;
        font-weight: 500;
    }

    .numberChosenProduct {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        gap: 32px;
    }

    .discountPrice {
        font-weight: 500;
        font-size: 24px;
        color: var(--text-color-black);
    }

    .price {
        font-weight: 400;
        font-size: 19px;
        text-decoration: line-through;
        color: var(--grey);
    }

    .originalPrice {
        font-weight: 500;
        font-size: 24px;
        color: var(--text-color-black);
    }
}

@media (max-width:1130px) {
    .cartInfo {
        display: flex;
        flex-direction: column;
        gap: 32px;
        align-items: center;
        margin-bottom: 60px;
    }

    .chosenProduct {
        width: 85vw;
        align-self: center;
    }
}

@media (max-width:588px) {
    .chosenProduct {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }



    .deleteButton {
        position: absolute;
        top: 12px;
        right: 12px;
    }
}