.salesConteiner {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 32px;
    margin-bottom: 80px;

}

.error {
    font-size: 25px;
    font-weight: 700;
    color: red;
}

@media (max-width:751px) {
    .salesConteiner {

        display: flex;
        flex-direction: column;
        gap: 32px;
        align-items: center;

    }
}