.titleLineButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 40px;
}


.line {
    flex-grow: 1;
    height: 1px;
    background-color: #DDDDDD;

}

@media (max-width:588px) {
    .line {
        display: none;

    }

    .titleLineButton {
        flex-wrap: wrap;
        gap: 15px;
    }


}