.cartInfo {
    display: flex;
    gap: 32px;
    align-items: flex-start;
    margin-bottom: 80px;
}

.emtyCart {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 80px;
}

.emtyCart p {
    font-weight: 500;
    font-size: 20px;
    color: #282828;
}

.messageModal {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.messageModal h2{
font-weight: 600;
font-size: 40px;
}
.messageModal p{
font-size: 20px;
font-weight: 600;
}