.formCartInfo {
    background-color: var(--light-grey);
    display: flex;
    flex-direction: column;
    padding: 32px;
    gap: 32px;
    flex: 1;

    border-radius: 12px;
}

.formCartInfo h2 {
    color: var(--text-color-black);
    font-weight: 700;
    font-size: 40px;
}

.formCartInfo p {
    font-weight: 500;
    font-size: 40px;
    color: var(--grey);
}

.infoTotalPrice {
    display: flex;
    justify-content: space-between;
}

.infoTotalPrice span:nth-child(1) {
    font-weight: 500;
    font-size: 40px;
    color: var(--grey);
}

.infoTotalPrice span:nth-child(2) {
    font-weight: 700;
    font-size: 64px;
    color: var(--text-color-black);
}

.formCart input {
    background-color: #ffffff;
    color: var(--text-color-black);

}

.formCart input::placeholder {
    color: var(--grey);
}


.formCart p:nth-child(2) {
    color: red;
    font-size: 20px;
}

.btnSubmit {
    background-color: var(--background-color);
    color: #FFFFFF;
}

.btnSubmit:hover {
    background-color: var(--font-color-black);
}