.formCartInfo {
    background-color: #F1F3F4;
    display: flex;
    flex-direction: column;
    padding: 32px;
    gap: 32px;
    flex: 1;

    border-radius: 12px;
}

.formCartInfo h2 {
    color: #282828;
    font-weight: 700;
    font-size: 40px;
}

.formCartInfo p {
    font-weight: 500;
    font-size: 40px;
    color: #8B8B8B;
}

.infoTotalPrice {
    display: flex;
    justify-content: space-between;
}

.infoTotalPrice span:nth-child(1) {
    font-weight: 500;
    font-size: 40px;
    color: #8B8B8B;
}

.infoTotalPrice span:nth-child(2) {
    font-weight: 700;
    font-size: 64px;
    color: #282828;
}

.formCart input {
    background-color: #ffffff;
    color: #282828;

}

.formCart input::placeholder {
    color: #8B8B8B;
}


.formCart p:nth-child(2) {
    color: red;
    font-size: 20px;
}

.btnSubmit {
    background-color: #0D50FF;
    color: #FFFFFF;
}

.btnSubmit:hover {
    background-color: #282828;
}