.productItems {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 32px;
    margin-bottom: 80px;
}

@media (max-width:751px) {
    .productItems {
        display: flex;
        flex-direction: column;
        gap: 32px;
        align-items: center;
    }
}