.notFoundPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 80px 0;
}

.notFoundPageInfoMessage p:nth-child(1) {
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 16px;
    color: var(--color-black);
}

.notFoundPageInfoMessage p:nth-child(2) {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 32px;
    color: var(--color-grey);
}

@media (max-width:761px) {
    .notFoundPage img {
        width: 74vw;
    }

    .notFoundPageInfoMessage p:nth-child(1) {
        font-size: 42px;
        font-weight: 600;
    }

    .notFoundPage {
        gap: 16px;
    }

}

@media (max-width:489px) {



    .notFoundPageInfoMessage p:nth-child(1) {
        font-size: 32px;
        font-weight: 550;
    }

    .notFoundPageInfoMessage p:nth-child(2) {
        font-size: 18px;
        font-weight: 500;
    }

}